:root {
    --color-default-400: #919D99;
    --color-default-200: #99A4A1;
    
    --color-primary-400: #a78f69;
    --color-info-400: #524743;
    
    --color-grey-400: #C4CAC8;
    --color-grey-200: #f3f4f4;
    
    --color-success: #67a558;
    --color-warning: #e59520;
    --color-danger: #f44336;
    
    --color-black-alpha-500: rgba($color: black, $alpha: 0.5);
}

