@import '../sass/base.scss';

.landingPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../assets/landingPageBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: rgba(0,0,0,.3); // Tint color
    background-blend-mode: multiply;
    &-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        .quote {
            display: flex;
            flex-direction: column;
            width: 85%;
            text-align: justify;
        }
      }
}



.footer {
    flex-shrink: 0;
}

.activities {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    .activity {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

