@import '../../sass/types';
@import '../../sass/base.scss';

button {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 5px;
    font-family: inherit;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: var(--color-info-400);
        color: var(--color-grey-200);
    }
}

.landingPageButton {
    background-color: var(--color-default-400);
    color: var(--color-grey-200);
    margin-right: 1rem;
    font-size: 2rem;
}

.button {
    background-color: var(--color-primary-400);
    color: var(--color-info-400);
}