@import '../../sass/base.scss';

.quote {
    font-size: 6rem;
    color: var(--color-grey-200);
}

.quoteAuthor {
    font-size: 4rem;
    color: var(--color-default-400);
    text-align: right;
}

.normal {
    font-size: 2rem;
    color: var(--color-grey-200);
    margin-top: .5rem;
    line-height: 2.5rem;
}

.heading {
    font-size: 3rem;
    color: var(--color-info-400);
    margin: 2rem 0 2rem 1rem;
}

.heading2 {
    font-size: 2rem;
    color: var(--color-info-400);
    margin: 2rem 0 2rem 1rem;
}